{% extends 'view.html' %}
<html>
   <head>
   {% load static %}
   {% block form %}
   <style>
    body{
        text-align: center;
        padding-top:90px;
    }
    label,input{
        padding-top: 5px;
    }
   </style>
   </head>
   
<body style="background-color: aquamarine;">
    
<div>
<form action="add" method="POST" autocomplete="off">
    {% csrf_token %}
    <h2>Registration Form</h2>
    <label>Name</label>
    <input type="text" name="name" width="50"><br><br>
    <label>Age</label>
    <input type="text" name="age" width="50" style="padding-left: 5px;"><br><br>
    <label>Email</label>
    <input type="text" name="email" width="50"><br><br>
    <input type="submit" value="Save">
    </form>
</div>
{% endblock %}
</body>
</html>